@import url(./fonts.css);
:root {
    --color-white: #FFFFFF;
    --color--bgc: #88839E;
    --color-check: #9B96AC;
    --font-Roboto: Roboto;
}
/* Загальні стилі  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    place-items: center;
}
input {
    width: 19px;
    height: 19px;
    accent-color: var( --color-white);
    cursor: pointer;
}
.title {
    font-family: var(--font-Roboto);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    color: #FF8984;
    margin-bottom: 4px;
}
.text {
    font-family: var(--font-Roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: 18.75px;
}
.text__sup {
    font-family: var(--font-Roboto);
    font-size: 11px;
    font-weight: 400;
    line-height: 12.89px;
    color: var(--color-white);
}
/* Кінець загальні стилі  */
/* HEADER  */
.header {
    background: #4A4F56;
    max-width: 793px;
    padding-top: 19px;
    padding-bottom: 12px;
    width: 100%;
}
.container__header {
    text-align: center;
}
.text__header {
    color: #FF8984;
    font-size: 16px;
}
/* END HEADER  */
/* MAIN SECTION  */
.section {
    max-width: 793px;
    background: #3B3F45;
    padding: 20px 130px 45px;
}
.container {
    background: var(--color--bgc);
    max-width: 534px;
    margin-bottom: 45px;
}

.menu__container:checked + .container__label .text__main {
    color: var(--color-check);
    text-decoration: line-through;
}
.menu__container:checked + .container__label .text__sup {
    color: var(--color-check);
    text-decoration: line-through;
}
.container__item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px;
    background: var(--color--bgc);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}
.container__item:hover {
    background: #625E77;
    border-top: 3px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
}
.container__item:nth-child(2n) {
    background: #7A7593;
}
.container__label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
}
.text__main {
    color: var(--color-white);
}
/* END MAIN SECTION  */
/* button  */
.btn__first {
    color: #FF8984;
    width: 534px;
    background: #4A4F56;
    border: none;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.btn__first:hover {
    background: black;
    color: var(--color-white);
}
/* END button  */