.container__collection__card {
    margin-bottom: 80px;
}
.collection__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card__coll img {
    margin-bottom: 24px;
}
.card__coll__p {
    font: var(--font-card-text);
    color: var(--text-color-black);
    margin-bottom: 43px;
}

@media (max-width: 768px) {
    .collection__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}