@import url(./fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1440px;
    max-height: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.container {
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    padding: 66px 135px 120px;
}
.title {
    font-family: Lucida;
    font-size: 21px;
    line-height: 24.61px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}
.weather {
    max-width: 1170px;
    max-height: 592px;
    margin-bottom: 35px;
}
li {
    list-style: none;
    text-align: center;
    color: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 26px;
    transition: opacity 0.2s ease-in;
}
li:hover {
    cursor: pointer;
    opacity: 30%;
}
p {
    font-size: 22px;
    line-height: 25.78px;
    text-align: center;
    font-family: Lucida;
}
i {
    margin-top: 5px;
    font-size: 32px;
}
.level1__ul {
    font-size: 0;
}
.level1__li {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    outline: 2px solid #FFFFFF;
}
.li1_1 {
    background-color: #3399CC;
    width: 50%;
}
.li1_2 {
    background-color: #33CCCC;
    width: 25%;
}
.li1_3 {
    background-color: #996699;
    width: 25%;
}
.li2_1 {
    background-color: #C24747;
    width: 25%;
}
.li2_2 {
    background-color: #E2674A;
    width: 25%;
}
.li2_3 {
    background-color: #FFCC66;
    width: 25%;
}
.li2_4 {
    background-color: #99CC99;
    width: 25%;
}
.li3_1 {
    background-color: #669999;
    width: 25%;
}
.li3_2 {
    background-color: #CC6699;
    width: 50%;
}
.li3_3 {
    background-color: #339966;
    width: 25%;
}
.li4_1 {
    background-color: #666699;
    width: 100%;
}
.text__end {
    color: #FFFFFF;
    text-align: left;
    font-family: Lucida;
    font-size: 16px;
    line-height: 18.75px;
}
