.btn__contact {
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 16px;
    color: var(--text-color-white);
    background-color: var(--dop-color);
    font: var(--font-button-text);
    margin-bottom: 121px;
    cursor: pointer;
}