input {
    padding: 20px;
    border: 2px solid var(--color-border-inputs);
    border-radius: 16px;
    font: var(--font-card-text-sub);
    flex: 1;
}
input:focus, textarea:focus {
    border: 2px solid rgb(113, 190, 237);
    outline: none;
}
textarea {
    padding: 20px;
    border: 2px solid var(--color-border-inputs);
    border-radius: 16px;
    resize: none;
    height: 226px;
    margin-bottom: 26px;
    font: var(--font-card-text-sub);
}
