.btn {
    width: 100%;
    font-family: var(--font-roboto-sans-serif);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #FFFFFF;
    background: var(--color-outline-bgc-button);
    border: none;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 8px 0px;
    margin-bottom: 22px;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,201,205,1) 48%, rgba(57,182,208,1) 75%);
}
.bot__button {
    background-color: transparent;
    border: none;
    border: 1px solid #E4E4E4;
    padding: 5px;
    border-radius: 6px;
    position: relative;
    top: -58px;
    left: 96px;
    cursor: pointer;
}


// pointer-events: none;