* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background-color: var(--color-site-bgc);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main {
    margin: auto;
    max-width: 1320px;
}  
svg {
    pointer-events: bounding-box;
    pointer-events: all;
}
