.form {
    max-width: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }
    &__row-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;   
    }
}