@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("./import__fonts.scss");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Work Sans", sans-serif;
    src: url('FileName.eot');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter", sans-serif;
    src: url('FileName.eot');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Comfortaa", sans-serif;
    src: url('./import__fonts.scss');
    font-style: normal;
    font-weight: normal;
}