// style text
:root {
    --font-logo: 700 21px "Comfortaa", sans-serif;
    --font-header: 400 16px "Work Sans", sans-serif;
    --font-title: 300 83px "Work Sans", sans-serif;
    --font-text: 400 14px "Open Sans", sans-serif;
    --font-card-text: 700 18px "Open Sans", sans-serif;
    --font-menu-text: 400 40px "Work Sans", sans-serif;
    --font-card-text-sub: 300 14px "Inter", sans-serif;
    --font-card-text-main: 400 48px "Work Sans", sans-serif;
    --font-button-text: 500 20px "Work Sans", sans-serif;
}
// color
:root {
    --dop-color: #D36C1C;
    --text-color-black: #000000;
    --text-color-white: #FFFFFF;
    --text-color-gray: #ABABAB;
    --text-color-sub: #1C1C1C;
    --color-site-bgc: #F9F7F3;
    --color-bg-instructions: #F2F0ED;
    --color-bg-footer: #D8D4CE;
    --color-contact-title: #FFFBFB;
    --color-border-inputs: #D3D0CB;
}