.footer {
    background-color: var(--color-bg-footer);
    padding: 60px 0px 80px;
    &__container {
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
}
.footer__nav {
    &__p {
        font: var(--font-header);
        color: var(--text-color-black);
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
.list__item {
    display: flex;
    gap: 28px;
    &__li {
        &__a {
            color: var(--text-color-black);
        }
        &__a:hover path {
            fill: white;
        }
    }
}
.footer__text {
    display: flex;
    flex-direction: column;
    &__p {
        font: var(--font-header);
    color: var(--text-color-black);
    text-transform: lowercase;
    margin-bottom: 14px;
    }
    &__p:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
    .footer__nav {
        &__p {
            text-align: center;
        }
    }
    .list {
        align-items: center;
        margin-bottom: 20px;
    }
    .footer__text {
        align-items: center;
    }
}